@import "../../../../theme/media-queries";

main {
  grid-template-rows: auto;
  height: inherit;
  min-height: 100%;

  @include ipad {
    min-height: 640px;
  }

  > div {
    ion-icon {
      font-size: 3rem;
      color: transparent;
    }
  }

  @include iphone4 {
    grid-template-columns: 1fr;
  }

  @include iphone5 {
    grid-template-columns: 1fr;
  }
}
