<ion-header>
  <ion-toolbar color="background">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <main>
    <app-circle [small]="true" [highlightCenter]="centerUser" [highlightTop]="!centerUser" [highlightRight]="!centerUser" [highlightLeft]="!centerUser"></app-circle>

    <ng-container *ngIf="!done; else passwordSent;">
      <app-request-reset-password (resetEmailSent)="resetPasswordSent()"></app-request-reset-password>
    </ng-container>

    <ng-template #passwordSent>
      <p class="ion-text-center">{{ 'RESET_PASSWORD.EMAIL_SENT' | translate }}</p>
    </ng-template>
  </main>

</ion-content>
