div.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  ion-icon {
    color: transparent;
    font-size: 4rem;
  }
}

ion-list {
  height: 100%;

  .labeled-datetime {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    ion-label {
      color: dimgray;
      margin-bottom: 10px;
    }

    .custom-datetime-button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      ion-datetime-button::part(native) {
        background-color: transparent;
        padding: 0;
        font-size: large;
      }

      ion-icon {
        padding-left: 10px;
        font-size: var(--heading-small-font-size);
      }
    }
  }
}


div.actions {
  margin-bottom: 16px;
  align-self: flex-end;
}