<form (ngSubmit)="createOrUpdate()" [formGroup]="emergencyForm">

  <div class="ion-text-center ion-padding-start ion-padding-end text">
    <p class="ion-no-margin">{{ 'EDIT_EMERGENCY.TEXT' | translate }}</p>

    <p class="ion-no-margin">{{ 'EDIT_EMERGENCY.EXAMPLE' | translate }}</p>
  </div>

  <ion-list class="ion-padding-start ion-padding-end">
    <ion-item>
      <ion-label position="floating">{{ 'EDIT_EMERGENCY.NAME' | translate }}</ion-label>
      <ion-input #name required [value]="circle?.data?.emergency?.name" formControlName="name" type="text"></ion-input>
      <a (click)="focusName()" slot="end"><ion-icon src="assets/img/pencil.svg" ariaLabel="{{ 'EDIT_EMERGENCY.NAME' | translate }}"></ion-icon></a>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'EDIT_USER.PHONE' | translate }}</ion-label>
      <ion-input #phoneNumber required [value]="circle?.data?.emergency?.phone_number" formControlName="phone_number" type="tel"></ion-input>
      <a (click)="focusPhoneNumber()" slot="end"><ion-icon src="assets/img/pencil.svg" ariaLabel="{{ 'EDIT_USER.PHONE' | translate }}"></ion-icon></a>
    </ion-item>
  </ion-list>

  <div class="actions ion-padding-start ion-padding-end ion-text-center">
    <ion-button shape="round" size="large" type="submit" [disabled]="!emergencyForm.valid || !circle" color="light">
      <ion-label>{{ 'CORE.SAVE' | translate }}</ion-label>
    </ion-button>
  </div>

</form>
