form {
  display: grid;
  height: 100%;
  grid-template-rows: auto;
  align-items: center;

  ion-item {
    ion-icon {
      padding-top: 32px;
      font-size: var(--heading-small-font-size);
    }
  }

  @media screen and (min-width: 720px) {
    grid-template-rows: auto;

    div.actions {
      margin-bottom: 16px;
    }
  }
}
