ion-list {
  --ion-item-background: var(--ion-color-background);

  ion-item {
    font-size: var(--contact-font-size);
    font-weight: var(--contact-font-weight);
    --background-hover: inherit;

    --padding-start: 0;

    ion-label[class*="sc-ion-label"][position="floating"] {
      color: var(--ion-color-medium);
    }

    &.item-has-focus {
      ion-label[class*="sc-ion-label"][position="floating"] {
        color: var(--ion-color-medium);
      }
    }
  }
}

@media screen and (max-width: 720px) {
  ion-list {
    ion-item {
      &.item-label-stacked {
        ion-input[class*="sc-ion-input"] {
          --padding-top: 0;
          --padding-bottom: 0;
        }
      }
    }
  }
}
