<ion-header>
</ion-header>

<ion-content color="background" scrollY="false">
  <deckgo-deck #introSlider animation="fade" (slideNextDidChange)="updateLastSlide()" direction="horizontal"
    direction-mobile="horizontal" (slidePrevDidChange)="updateLastSlide()">
    <deckgo-slide-title>
      <section class="grid" slot="title">
        <div class="text ion-padding-start ion-padding-end">
          <img class="logo" src="assets/img/intro/logo.svg" role="presentation" loading="lazy"
            alt="{{ 'INTRO.SLIDES.BONJOUR.TITLE' | translate }}" />
          <h1 class="first-title ion-text-center">{{ 'INTRO.SLIDES.BONJOUR.TITLE' | translate }}</h1>
          <p class="ion-text-center" [innerHTML]="'INTRO.SLIDES.BONJOUR.TEXT' | translate"></p>
          <img class="by-bonjour" src="assets/img/intro/by-bonjour.svg" role="presentation" loading="lazy"
            alt="By Bonjour" />
        </div>

        <img class="lady" src="assets/img/intro/illustration.svg" role="presentation" loading="lazy"
          alt="{{ 'INTRO.SLIDES.BONJOUR.TITLE' | translate }}" />

        <app-intro-nav (next)="next()" (skip)="navigate(true)" [lastSlide]="lastSlide" [noSkip]="true"
          [transparent]="true"></app-intro-nav>
      </section>
    </deckgo-slide-title>

    <deckgo-slide-title class="background-red">
      <section class="grid" slot="title">
        <div class="text ion-padding-start ion-padding-end">
          <h1 class="ion-text-center">{{ 'INTRO.SLIDES.HELP.TITLE' | translate }}</h1>
          <p class="ion-text-center">{{ 'INTRO.SLIDES.HELP.TEXT' | translate }}</p>
        </div>

        <div class="help ion-padding-start ion-padding-end">
          <ion-label class="help-label ion-padding" [innerHTML]="'INTRO.SLIDES.HELP.INFO' | translate"></ion-label>

          <img src="assets/img/intro/help.svg" role="presentation" loading="lazy"
            alt="{{ 'INTRO.SLIDES.HELP.TITLE' | translate }}" />
        </div>

        <app-intro-nav [noSkip]="slideIndex === 0" (next)="next()" (skip)="navigate(true)"
          [lastSlide]="lastSlide"></app-intro-nav>
      </section>
    </deckgo-slide-title>

    <deckgo-slide-title class="background-primary">
      <section class="grid" slot="title">
        <div class="text ion-padding-start ion-padding-end">
          <h1 class="ion-text-center">{{ 'INTRO.SLIDES.TEAM.TITLE' | translate }}</h1>
          <p class="ion-text-center">{{ 'INTRO.SLIDES.TEAM.TEXT' | translate }}</p>
        </div>

        <div class="team ion-padding-start ion-padding-end">
          <img src="assets/img/intro/team.svg" role="presentation" loading="lazy"
            alt="{{ 'INTRO.SLIDES.TEAM.TITLE' | translate }}" />
        </div>

        <app-intro-nav [noSkip]="slideIndex === 0" (next)="next()" (skip)="navigate(true)"
          [lastSlide]="lastSlide"></app-intro-nav>
      </section>
    </deckgo-slide-title>

    <deckgo-slide-title class="background-yellow">
      <section class="grid" slot="title">
        <div class="text ion-padding-start ion-padding-end">
          <h1 class="ion-text-center">{{ 'INTRO.SLIDES.INQUIRY.TITLE' | translate }}</h1>
          <p class="ion-text-center" [innerHTML]="'INTRO.SLIDES.INQUIRY.TEXT' | translate"></p>
        </div>

        <div class="inquiry ion-padding-start ion-padding-end">
          <ion-label class="inquiry-label ion-padding"
            [innerHTML]="'INTRO.SLIDES.INQUIRY.INFO' | translate"></ion-label>

          <img src="assets/img/intro/inquiry.svg" role="presentation" loading="lazy"
            alt="{{ 'INTRO.SLIDES.INQUIRY.TITLE' | translate }}" />
        </div>

        <app-intro-nav [noSkip]="slideIndex === 0" (next)="next()" (skip)="navigate(true)"
          [lastSlide]="lastSlide"></app-intro-nav>
      </section>
    </deckgo-slide-title>

    <deckgo-slide-title class="background-primary">
      <section class="grid" slot="title">
        <div class="text ion-padding-start ion-padding-end">
          <h1 class="ion-text-center">{{ 'INTRO.SLIDES.INFORMATION.TITLE' | translate }}</h1>
          <p class="ion-text-center" [innerHTML]="'INTRO.SLIDES.INFORMATION.TEXT' | translate"></p>
        </div>

        <div class="info ion-padding-start ion-padding-end">
          <ion-label class="info-label ion-padding"
            [innerHTML]="'INTRO.SLIDES.INFORMATION.INFO' | translate"></ion-label>

          <img src="assets/img/intro/info.svg" role="presentation" loading="lazy"
            alt="{{ 'INTRO.SLIDES.INFORMATION.TITLE' | translate }}" />
        </div>

        <app-intro-nav [noSkip]="slideIndex === 0" (next)="next()" (skip)="navigate(true)"
          [lastSlide]="lastSlide"></app-intro-nav>
      </section>
    </deckgo-slide-title>

    <deckgo-slide-title class="background-yellow">
      <section class="grid" slot="title">
        <div class="text ion-padding-start ion-padding-end">
          <h1 class="ion-text-center">{{ 'INTRO.SLIDES.ORGANIZATION.TITLE' | translate }}</h1>
          <p class="ion-text-center" [innerHTML]="'INTRO.SLIDES.ORGANIZATION.TEXT' | translate"></p>
        </div>

        <div class="organization ion-padding-start ion-padding-end">
          <ion-label class="organization-label ion-padding"
            [innerHTML]="'INTRO.SLIDES.ORGANIZATION.INFO' | translate"></ion-label>

          <img src="assets/img/intro/organization.svg" role="presentation" loading="lazy"
            alt="{{ 'INTRO.SLIDES.ORGANIZATION.TITLE' | translate }}" />
        </div>

        <app-intro-nav [noSkip]="slideIndex === 0" (next)="next()" (skip)="navigate(true)"
          [lastSlide]="lastSlide"></app-intro-nav>
      </section>
    </deckgo-slide-title>

    <deckgo-slide-title>
      <section class="grid" slot="title">
        <div class="text ion-padding-start ion-padding-end">
          <h1 class="ion-text-center">{{ 'INTRO.SLIDES.LOS_GEHTS.TITLE' | translate }}</h1>
        </div>

        <div class="los-gehts ion-padding-start ion-padding-end">
          <img class="los-gehts-img" src="assets/img/intro/los-gehts.svg" role="presentation" loading="lazy"
            alt="{{ 'INTRO.SLIDES.LOS_GEHTS.TITLE' | translate }}" />
        </div>

        <app-background-circle>
          <ion-label class="ion-padding" [innerHTML]="'INTRO.SLIDES.LOS_GEHTS.INFO' | translate"></ion-label>
        </app-background-circle>

        <app-intro-nav [noSkip]="slideIndex === 0" (next)="next()" (skip)="navigate(true)"
          [lastSlide]="lastSlide"></app-intro-nav>
      </section>
    </deckgo-slide-title>

  </deckgo-deck>
</ion-content>