<div class="circle-container" [class.small]="small">
    <ion-icon class="circle" src="assets/img/circle/circle.svg"></ion-icon>

    <ion-icon class="center" [src]="highlightCenter ? 'assets/img/circle/center.svg' : 'assets/img/circle/ellipse.svg'"></ion-icon>

    <ion-icon class="top" [src]="highlightTop ? 'assets/img/circle/top.svg' : 'assets/img/circle/ellipse.svg'"></ion-icon>

    <ion-icon class="right" [src]="highlightRight ? 'assets/img/circle/right.svg' : 'assets/img/circle/ellipse.svg'"></ion-icon>

    <ion-icon class="left" [src]="highlightLeft ? 'assets/img/circle/left.svg' : 'assets/img/circle/ellipse.svg'"></ion-icon>
</div>
